
*{font-family: 'Work Sans';}

/* banner section */
.header {
    background: #fff8f3;
    padding: auto;
} 

.banner {
    margin: 0 200px;
    display: flex;
    width: 1600px;
    height: 800px;
    justify-content: center;
    text-align: justify;


}

.banner-title {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;


}

.banner-paragraph {
    font-weight: 400;
    font-size: 16px;

}

.btn {
    color: #ffffff;
    background: #fd6e0a;
    font-weight: 700px;
    font-size: 15px;
    padding: 18px 35px;
    height: 65px;
    width: 160px;
    border-radius: 5px;
    border: 0;
}

/* main body section */
.section-head {
    display: flex;
    position: relative;
    text-align: justify;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 150px 330px 150px 200px;
    text-align: justify;
}

.section-title {
    font-weight: 700px;
    font-size: 40px;
}

.section-para {
font-weight: 400px;
font-size: 18px;
}

/* my plan section */

.plan-container{
display: flex;
gap: 50px;
justify-content: center;
}
.plan-title{
    font-weight: 700px;
    font-size: 40px;
    text-align: center;
}
.skill-title{
    font-weight: 700px;
    font-size: 33px;
}
.commit{
    font-weight: 500px;
    font-size: 25px;
}
 /* gradient section */
 .gradient{
    width: 1150px;
    height:300px;
    padding: 300px;
    background-position: center;

    /* background-image: linear-gradient(#454545, #f3ec, #af4); */
 }
 #grad{
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    width: 1150px;
    height: 300px;
    text-align:center;
    font-weight: 600;
    font-size:40px;
}
/* footer section */
.foot{
display: flex;
color:forestgreen;
}
.foot-element{
   
 display:block;
}
.future{
    font-size: 40px;
    font-weight: 700px;

}
footer{
 background: black;
}
.fotter-img{
    list-style: none;
    display: flex;
    gap: 10px;
}
.input{
    display:block;
    gap: 10px;
    
}
.sub{
    font-size: 25px;
    font-weight:700px;
    gap: 10px;
}